h2 {
    margin-top: 15px;
}

ol {
    padding-left: 0;
}

ol {
    counter-reset: item;
    list-style-type: none;
    margin: 0;
}

li > ol {
    margin-left: 0;
}

ol > li {
    counter-increment: item;
    padding-left: 2.7em;
    position: relative;
}

ol > li::before {
    content: counters(item, '.') '. ';
    position: absolute;
    left: 0;
    width: 2em;
    text-align: right;
    padding-right: 0em;
    white-space: nowrap;
}

.szabalyzat li {
    margin-top: 5px;
    padding-right: 2.7em;
}

.anchor-link {
    padding: 0 .175rem;
    font-weight: 400;
    text-decoration: none;
    opacity: 0;
    transition: color .15s ease-in-out, opacity .15s ease-in-out;
}

.anchor-link::after {
    content: " #";
}

.anchor-link:hover, :hover > .anchor-link {
    opacity: 100;
}